<!-- Copy this file, removing the .example extension. Then fill in your connection details to get started with Rock. -->
<connectionStrings>
  <add
    name="RockContext"
    connectionString="
      Data Source=localhost;
      Initial Catalog=rock_develop_oidc; 
      User Id=rock;
      password=password;
      MultipleActiveResultSets=true"
    providerName="System.Data.SqlClient"/>
</connectionStrings>